h1{
    text-align: center;
    background: blue;
    font-size: 60px;
}
p{
    font-size: 30px;
    text-align: center;
    
}
.input{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    display: inline;
    height: 40px; 
    justify-content: space-around;
}
.label{
    width: 100%;
    display: block;
    
}
button{
    display: block;
    width: 100%;
background-color: blue;
height: 60px;
    
}
