h1{
    text-align: center;
    background: blue;
    font-size: 60px;
}
p{
    font-size: 30px;
    text-align: center;
    
}
.input{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    display: inline;
}
.label{
    width: 100%;
    display: block;
}