h1{
    text-align: center;
    background: blue;
    font-size: 60px;
}
p{
    font-size: 30px;
    text-align: center;
    
}
.input{
    width: 80%;
    margin-left: 0;
    margin-right: 80px;
    text-align: center;
}