@font-fact {
    font-family: 'MyFont';
    src: url('fonts/myFont.ttf')
    format('truetype');
}
body{
    font-family: 'MyFont' , Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    line-height: 1.6;
}
.navbar{
    background-color: #4267b2;
}